$color: #000C19;
$container_color: #FFF;
$page_color: #DDD;
$spacing: 16px;
$box-shadow: 0px 0px 51px 3px rgba(0,0,0,0.75);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $page_color;
}

h1 {
  font-family: 'Francois One', sans-serif;
}

p {
  font-family: 'Didact Gothic', sans-serif;
}

.container {
  background-color: $container_color;
  color: $color;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

.badge {
  position: absolute;
  opacity: 0.8;
  right: 0;
}

header {
  display: block;
  text-align: center;
  width: 75%;
  margin: auto;
  padding-bottom: $spacing;
}

.graph {
  width: 75%;
  display: block;
  margin: $spacing auto;
  position: relative;
  border: 1px solid black;
  padding: $spacing;
  background-position: center;
  background-size: cover;

  h1 {
    display: inline;
    padding: $spacing / 2;
  }
}

footer {
  margin-top: $spacing;
  text-align: center;
  padding-bottom: $spacing;

  a {
    color: $color;

    &:hover {
      cursor: pointer;
    }
  }

  .github-button {
    padding-top: $spacing;
  }
}
