$color: #000C19;
$background-color: #FFF;
$spacing: 16px;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  text-align: center;
}

.headline-container {
  padding: 10px;
}

.stat {
  display: inline-block;
  border: 1px solid $color;
  padding: $spacing;
  margin: $spacing / 4;
}

a {
  text-align: left;
  color: $color;
  text-decoration: none;
  font-size: 24px;
  display: block;
  margin-top: $spacing;
  margin-left: $spacing;
  border-left: 1px solid $color;
  padding: $spacing / 4;

  &:hover {
    text-decoration: underline;
  }
}
