<header>
  <h1>Candidate Tracker</h1>
  <p>Whos getting the attention today?</p>
</header>

<div id="graph" data-candidates="{{stringify data}}"></div>
<div id="subgraphs">
  <hr>
  <h3>Broken down by news outlet</h3>
  <div id="politico"></div>
  <div id="nytimes"></div>
  <div id="washingtonpost"></div>
  <div id="cnn"></div>
</div>
